label.login {
    font-size: 1.8rem;
}
div.login {
    position: relative;
    margin-top: 20px
}
form.login {
    width: 100%;
}
input.login {
    height: 50px;
}
button.login {
    height: 50px;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 10px;
    overflow: hidden;
}
.heading {
    width: 100%;
}
div.heading {
    display: block;
    width: 100%;
}
.login_box {
    width: 50%;
    margin: auto;
    padding: 10px;
    width: fit-content;
}
