<!DOCTYPE html>
<html>
    <head>
        <title>Add payment info</title>
    </head>
    <body>
        <div class="change_user">
              <button onclick="location.href = '../pages/add_payment_method.php';">Back</button>
              <button onclick="location.href = '../pages/add_payment_method.php?card=true';">Credit card</button>
              <button onclick="location.href = '../pages/add_payment_method.php?account=true';">Bank account</button>
        </div>
    </body>
</html>