<!DOCTYPE html>
<html>
    <head>
        <title>Sign in</title>
    </head>
    <body>
        <div class="heading ">
            <h1 class="heading ">
                Welcome
            </h1>
        </div>
        <ul>
            <li>
                <button onclick="location.href = '../pages/change_user_info.php';">Change user info</button>
                <button onclick="location.href = '../pages/edit_payment_info.php';">Edit payment info</button>
            </li>
        </ul>
    </body>
</html>